@model TheGenie
@{
    ViewData["Title"] = "Genie";

    string hideIt = Model.Response is null ? "visually-hidden" : " ";
}
<div class="convo-wrapper">
    <div class="convo-container">
        @if (@Model.Convo is not null)
        {
            @foreach (Volley piece in @Model.Convo)
            {
                <div class="card convo-item">
                    <div class="card-header">
                        @piece.Question
                    </div>
                    <div class="card-body">
                        @piece.Answer
                    </div>
                </div>
            }
        }

    </div>

    <div class="erase-button">
        <a asp-action="BlankConvo" asp-controller="Home" class="btn btn-theme-primary rounded-pill">Erase</a>
    </div>
</div>
<div class="response-wrapper">
    <div class="outer-container  @hideIt">
        <div class="response-container" id="response-bubble">
            <img src="~/images/caption_bubble.png" class="convo-pic" />
        </div>
    </div>
    <div class="response-text">@Model.Response</div>
</div>
@*<a asp-action="Say" asp-controller="Home" asp-route-toSay="@Model.Response">*@
<img src="~/images/genie1.png" class="genie-pic" />
@*</a>*@
<div class=" user-container">
    <form method="post" asp-action="AskGenie" asp-controller="Home">
        <textarea class="user-input" asp-for="@Model.UserInput" placeholder="Enter message to genie"></textarea>
        <input type="submit" class="btn btn-theme-primary rounded-pill" />
    </form>
</div>
