@model TheGenie
@{
    ViewData["Title"] = "Genie";

    // if there is no response yet, hide the speech bubble
    // TODO re-hide, transition speach-bubble
    string hideIt = Model.Response is null ? "visually-hidden" : " ";
}
<div class="convo-wrapper">
    <div class="convo-container">
        @if (@Model.Convo is not null)
        {
            @foreach (Volley piece in @Model.Convo)
            {
                <div class="card convo-item">
                    <div class="card-header">
                        @piece.Question
                    </div>
                    <div class="card-body">
                        @piece.Answer
                    </div>
                </div>
            }
        }
        <div class="erase-button">
            <a asp-page-handler="BlankConvo" asp-page="/Index" class="btn btn-theme-primary rounded-pill">Erase</a>
        </div>
    </div>
</div>
<div class="outter-container  @hideIt">
    <div class="response-container container" id="response-bubble">
        <img src="~/images/caption_bubble.png" class="convo-pic" />
        <div class="response-text">@Model.Response</div>
    </div>
</div>
<img src="~/images/genie1.png" class="genie-pic" />
<div class="sticky-bottom container user-container">
    <form method="post" asp-action="AskGenie" asp-controller="Home">
        <textarea class="user-input" asp-for="@Model.UserInput" placeholder="Enter message to genie"></textarea>
        <input type="submit" />
    </form>
</div>
<link href="~/js/site.js" />